
.color-1{
    background-color: $color-gray-1;
}
.Builder{
    @include boxPad(1.5rem 1.5rem);
    margin: 4.5rem auto;
    color: $color-white;
    border-radius: .5rem;
    // height: $height;
    background-color: $color-7;
    min-height: 65rem;
    height: auto;
    overflow: hidden;
    position: relative; 
}
.BurgerBuilder{

    @media only screen and (max-width: $phone){ 
        margin: 0rem auto;
    }
    &__col{
  
        &__con{
  
            height: auto;
            min-height: 50px;
         
            // list 
            .builder-titles {
                display: block;
                width: 100%;
                li{
                    display: inline-block;
                    list-style: none;
                    padding: 1.5rem 0;
                    height:1.5rem;
                    text-align: left;
                    font-size: 1.6rem;
                    font-weight: 300;
                    color: $color-gray-5;
                    border-bottom: 1px solid $color-gray-6;
                    font-family: $font-main;
                    &:nth-child(1){
                        @include grid-column(4, $grid-gutterless);
                    }
                    &:nth-child(2){
                
                        @include grid-column(3, $grid-gutterless);
                    }
                    &:nth-child(3){
                
                        @include grid-column(5, $grid-gutterless);
                    }
                    
                }
            }
            // list

            //logo
            
            &--left{
                div{
                    &:nth-child(2){
                        position: relative;
                        top: 1.5rem;
                    }
                }
            }

        }

        &__mobile-controls{
            @include boxPad(1.5rem);
            margin: 1.5rem 0;
            width: 100%;
            border-top: $color-gray-5 .1rem solid;
            
            @media only screen and (min-width: $tablet){
                display: none;
             }
        }

    }
}
.logo-row{
    top: 0px;
    width: 20rem;
    height: 50px;
    position: relative;
    img{
        max-width: 170px;
    }
}
.half-col{
    @include grid-column(6, $grid-gutterless);
    position: relative;
    // min-height: 600px;
    height: auto;

}
.ingredient{
    height: 35px;
    width: 100%;
    &:nth-child(1){
        margin-top: $buffer-sm;
    }
    &__con{
        @include grid-container;
        width: 100%;
        div:nth-child(1){
            @include grid-column(4, $grid-gutterless);
        }
        div:nth-child(2){
            @include grid-column(3, $grid-gutterless);
        }
        div:nth-child(3){
            @include grid-column(5, $grid-gutterless);
            box-sizing: border-box;
            padding: 8px;
        }
    }
    div{
        min-height: 2.5rem;
     
    }
}

.RotatingCard {
    // position: relative;
    @media only screen and (max-width: $phone){
        perspective: 150rem;
        -moz-perspective: 150rem;
        position: relative;
    }


    &__side{
        @include boxPad(1.5rem);
        background-color: $color-7;
        height: auto;


        transition: all 2s;
        position: absolute;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        &--front {
            // background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);
            // background-color: $color-gray-3;
        }
  
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);

    }
}
.review{
    @include center-block(1rem);
    background-color: $color-1;
}
.mobile-burger{
    max-height: 350px;
    // background-color: #ddd;
}
.color-1{
    background-color:$color-gray-1;
}
.color-2{
    background-color: $color-gray-3;
}

.ingredients-title-mobile{
    @include border-bottom($color-gray-4);
    padding: .5rem 0;
}

.mobile-order-burger{
    width: 100%;
    padding: .5rem;

}

.BurgerBuilder-mobile{
  position: relative;

   .logo-mobile{
        max-width: 10rem;
        img{
            margin: 1rem 0!important;
        }
    }
    &--left{
        @include grid-column(6, $grid-gutterless);
    }
    &--right{
        @include grid-column(6, $grid-gutterless);
    }
    &--bottom{
        @include grid-column(12, $grid-gutterless);
        @include border-top($color-gray-4);
        padding: 2.5rem  0;
        bottom: 0;
        width: 100%;
        margin-top: 1rem;
        button{
            display: inline-block !important;
        }
        .mobile-btn{
            width: 45%;
            margin: 1rem .5rem;
        }
        .edit{
            background-color: $color-4;
         
        }
        .order{
            background-color: $color-1;
        }
    }
}