$color-white: #fafafa;
$color-gray-1: #efefef;
$color-gray-2: #dddddd;
$color-gray-3: #cccccc;
$color-gray-4: #bbbbbb;
$color-gray-5: #aaaaaa;
$color-gray-6: #666666;
$color-gray-7: #777777;
$color-black: #333333;
$color-black-overlay: rgba(0,0,0,.3);

$color-ios-blue: rgb(0,122,255);
$color-ios-teal: rgb(90,200,250);
$color-ios-yellow: rgb(255,204,0);
$color-ios-orange: rgb(255,149,0);
$color-ios-red: rgb(255,59,48);
$color-ios-pink: rgb(255,45,85);
$color-ios-purple: rgb(88,86,214);








$buffer-xs: .8rem;
$buffer-sm: 1.5rem;
$buffer-md: 2.5rem;
$buffer-lg: 3.5rem;
$buffer-xl: 5rem;
$bor-rad-sm: .5rem;


$imac: 1220px;
$desktop: 992px;
$tablet: 768px;
$phone: 480px;

