@mixin center-block($vertMar: 0){
  display: block;
  margin: $vertMar auto;
}
@mixin buffer($vertMar: 1rem){
  margin-top: $vertMar;
  margin-bottom: $vertMar;
}
@mixin gradient($color1: #333, $color2: #ddd, $angle: 90){
  background-image: linear-gradient($angle, $color1, $color2);
}
@mixin alpha($color1: rgb(255,255,255), $alpha: 1){
  color: rgba($color1, $alpha)
}
@mixin boxPad($pad: 1.5rem){
  padding: $pad;
  box-sizing: border-box;
}