$color-white: #fafafa;
$color-gray-1: #efefef;
$color-gray-2: #dddddd;
$color-gray-3: #cccccc;
$color-gray-4: #bbbbbb;
$color-gray-5: #aaaaaa;
$color-gray-6: #666666;
$color-gray-7: #777777;
$color-black: #333333;

$color-ios-blue: #007aff;
$buffer-xs: .8rem;
$buffer-sm: 1.5rem;
$buffer-md: 2.5rem;
$buffer-lg: 3.5rem;
$buffer-xl: 5rem;
$bor-rad-sm: .5rem;


$imac: 1220px;
$desktop: 992px;
$tablet: 768px;
$phone: 480px;

