
// Project Colors: 
$color-1: #85cb01;
$color-2: #99d341;
$color-3: #0b7100;
$color-4: #30244a;
$color-5: #6b6793;
$color-6: #3e3362;
$color-7: #0D0E1C;

// Container
$main-con: 1200px;
$secondary-con: 1080px;

// Project Fonts
$font-main: "Montserrat";
$font-secondary: 'Roboto';

