@import '../../../../assets/styles/utilities';
.Ingredient-Con {
    // width: 75%;
    @include center-block;
    min-height: 3.5rem;
    margin: .3rem 0;
    background-repeat: none;
    position: relative;
    transition: all .5s;
    
    // background-color: rgba(255,255,255,.7);
}

.Ingredient {
    @include center-block;
    left: 0;
    right: 0;
    
    position: absolute;
    // min-height: 11rem;

    background-size: 100% 100%;
    background-repeat: none;
}
.Ingredient--lg{
    margin: -1.5rem 0;
    height: 7rem;
}
.Ingredient--sm{
 
    margin: 0;
    height: 6rem;

}
@media only screen and (max-width: $phone){ 
    .Ingredient {
        width: 100%;

        @include center-block;
        // min-height: 10rem;
        background-size: 100% 100%;
        background-repeat: none;
        overflow: auto;
    }
    .Ingredient--lg{
        margin: -3.5rem 0;
        height: 5rem;
    }
    .Ingredient--sm{
        margin: -2rem 0;
        height: 4rem;
    }

}


// .Ingredient img{
// // max-width: 100%;
// }
.bread--top {
    background-image: url('../../../../assets/images/ingredient-bread-top.png');
    z-index: 1000;
    display: block;
    top: -3rem;
    height: 8rem;
    @media only screen and (max-width: $phone){ 
        height: 5rem;
        top: -0rem;
    }

}
.bread--bottom {
    background-image: url('../../../../assets/images/ingredient-bread-bottom.png');
    z-index: 0;
    height: 8rem;
    top: -2rem;
    @media only screen and (max-width: $phone){ 
        height: 6rem;
        top: -2rem;
    }
}
.buffalo {
    background-image: url('../../../../assets/images/ingredient-angus.png');

}
.angus {
    background-image: url('../../../../assets/images/ingredient-buffalo.png');
}
.turkey {
    background-image: url('../../../../assets/images/ingredient-turkey.png');
}
.bacon {
    background-image: url('../../../../assets/images/ingredient-bacon.png');
}

.cheddar {
    background-image: url('../../../../assets/images/ingredient-cheddar-cheese.png');
}

.american {
    background-image: url('../../../../assets/images/ingredient-american-cheese.png');
}
.swiss {
    background-image: url('../../../../assets/images/ingredient-swiss-cheese.png');
}
.egg {
    background-image: url('../../../../assets/images/ingredient-fried-egg.png');
}
.pickles {
    background-image: url('../../../../assets/images/ingredient-pickles.png');
}
.lettuce {
    background-image: url('../../../../assets/images/ingredient-lettuce.png');
}
.tomatoes {
    background-image: url('../../../../assets/images/ingredient-tomatoes.png');
}
.onions {
    background-image: url('../../../../assets/images/ingredient-onion.png');
}
.avacado {
    background-image: url('../../../../assets/images/ingredient-avacado.png');
}
.ketchup {
    background-image: url('../../../../assets/images/ingredient-ketchup.png');
}
.mayo {
    background-image: url('../../../../assets/images/ingredient-mayo.png');
}
