.Ingredient {
    width: 100%;
    min-height: 2.5rem;
    background-color: #fff;
    margin: .5rem 0;

}

.bread {
    background-color: #FFEF75;
}
.buffalo {
    background-color: #FF3131;
}
.angus {
    background-color: #8B5B3D;
}
.turkey {
    background-color: #8B5B3D;
}
.turkey {
    background-color: #FF6100;
}
.cheese{
    background-color: #FFFF31
}