.Burger {
    width: 75%;
    margin: -1.5rem auto 0 auto;
    min-height: 55rem;
    @media only screen and (max-width: $phone){
        @include center-block(1.5rem);
        @include buffer;
        min-height: 45rem;
        margin-top: 2.5rem;
    }
}
.empty {
    @include boxPad(1.5rem);
    text-align: center;
    margin: 4.5rem auto 3.5rem auto;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    border-radius: 4px;
}