

h1{
    font-size: 5.5rem;
    font-family: Montserrat;

}
h2{
    font-size: 4.5rem;
    font-family: Montserrat;

}
h3{
    font-size: 3.5rem;
    font-family: Montserrat;

}
h4{
    font-size: 2.5rem;
    font-family: Montserrat;

}
h5{
    font-size: 2.0rem;
    font-family: Montserrat;

}
h6{
    font-size: 1.7rem;
    font-family: Roboto;

}
p{
    font-size: 1.4rem;
    font-family: Roboto;

}
body {
    font-size: 1.4rem;
    font-family: Roboto;

}